<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,400i,700,700i" rel="stylesheet">
	<title>Центр типологии и семиотики фольклора</title>
</head>
<body>

<div id="header" style="grid-row: 1/2; grid-column: 1/4;">
	{{ partial "header" . }}
</div>
<div id="menu" style="grid-row: 2/3; grid-column: 1/2;">
	{{ partial "menu" . }}
</div>
<div id="main" style="grid-row: 2/3; grid-column: 2/3;">
	{{ block "main" . }}
	{{ end }}
</div>
<div id="sidebar" style="grid-row: 2/3; grid-column: 3/4;">
	{{ partial "sidebar" . }}
</div>
	
</body>
</html>