{{ define "main" }}

{{ .Content }}

	{{ template "_internal/pagination.html" . }}

	{{ range .Paginator.Pages }}
		<div class="newsItem">
			<p style="color: gray; margin-bottom: 0; text-align: right;">{{ .Date.Format "2 / 1 / 06" }}</p>
			{{ .Content }}
		</div>
	{{ end }}

{{ end }}