<ul id="menuList">
	<li><a class="menuLink" href="{{ .Site.BaseURL }}about/"><span>О ЦТСФ</span></a></il>
	<li><a class="menuLink" href="http://www.ruthenia.ru/folklore/ma_program/" target="_blank"><span>Магистратура ЦТСФ</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}conferences/"><span>Конференции</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}publications/"><span>Публикации</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}summer_schools/"><span>Летние школы</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}CTSF_press/"><span>Издания ЦТСФ</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}indices/"><span>Указатели</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}zhivaia_starina/"><span>Живая старина</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}grants/"><span>Гранты</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}calendar/"><span>Календарь мероприятий</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}audio/"><span>Аудиозаписи докладов</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}mongolia/"><span>Монгольские экспедиции ЦТСФ</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}labfolk/"><span>Лаборатория фольклора РГГУ</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}links/"><span>Интернет-ресурсы по фольклору</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}library/"><span>Библиотека фольклориста</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}people/"><span>Персональные страницы</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}media/"><span>Мы в СМИ</span></a></il>
	<li><a class="menuLink" href="{{ .Site.BaseURL }}partners/"><span>Партнеры</span></a></il>
</ul>
